.home-container {
  display: grid;
  font-family: 'Montserrat', sans-serif;
  background-color: #A9A9A9;

  
  
   grid-template: 
   "home-nav home-nav" 4%
   "activeTitle ." 2%
   "cardview calendar" 30%
   ". .       "        AUTO
   / 22%     78%;
  
  grid-gap: 10px;
  grid-row-gap: 20px
 
}

.home-nav {
  grid-area: home-nav;
  display: inline;

}

.home-active-post-title {
  grid-area: activeTitle;
  justify-self: center;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  margin-top: 20px;
  margin-left: 30px

 

}

.home-cardview {

  grid-area: cardview;
  overflow: scroll;
  border: 4px solid #A9A9A9;
  border-radius: 15px;
  margin-left: 80px;
 /* background-color: #A9A9A9;*/



}

.home-calendar {

  grid-area: calendar ; 
  overflow: scroll;
  overflow-y:auto;
 padding-left:40px;
  padding-right:40px;
  padding-bottom: 40px;
  padding-top: 20px;
  justify-content: center;
  border: 4px solid #A9A9A9;
  border-radius: 15px;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  margin-right: 120px;
  background-color: #ffffff
}

.home-nav-link a {
   font-family: 'Montserrat', sans-serif;
   font-weight: 500;
   font-size: 22px;
   color: #000000;
   text-decoration: none;


}



.home-nav {
  display: flex;
  justify-content: space-between;
  align-items: bottom;
  padding: 60px 10%;
  background-color: transparent;

}

.home-logo {
    
    cursor: pointer;
    align-self: center;
    margin-top: 20px;
    position: relative;;
    right: 60px;



}

.home-nav-link {
  list-style: none;
  text-decoration-color: #000000;
 
}

.home-nav-link li {
   display: inline-block;
  padding: 0px 20px;
  

}

.nav-link-home {
  border-bottom: 4px solid black;
}

.home-nav-link li a {
  transition: all 0.3s ease 0s;

} 

.home-nav-link li a:hover {
  color:#FFFFFF;
}

.homeLogOut {
  padding-left: 9px 25px;
  background-color: #A9A9A9;
  border: 3px solid white;
  border-radius: 50px;
  cursor:pointer;
  transition: all 0.3s ease 0s;
  font-size: 20px;
  color:#ffffff;
}

button:hover {
  background-color: #8DA562
}

::-webkit-scrollbar {
 display: none;
};